<p>customerlist works!</p>
<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>PHONE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cust of customers; let i=index">
                <td>{{cust.id}}</td>
                <td>{{cust.name}}</td>
                <td>{{cust.email}}</td>
                <td>{{cust.phone}}</td>
                <td><button (click)="delete(i)" class="btn btn-danger">Delete</button></td>
                <td><button (click)="update(i)" class="btn btn-primary">Update</button></td>
            </tr>
        </tbody>

    </table>
</div>